{% extends "base.html" %}

{% block title %}OC CS Department - Degree Programs{% endblock %}

{% block content %}
    <h2>Degree Programs</h2>

    <h3>Mathematics</h3>
    <ul>
        <li>Mathematics Major</li>
        <li>Mathematics Minor</li>
        <li>Actuarial Science</li>
        <li>Mathematics Major, Primary Teaching</li>
        <li>Mathematics Major, Secondary Teaching</li>
        <li>Mathematics Minor, Primary Teaching</li>
        <li>Mathematics Minor, Secondary Teaching</li>
    </ul>

    <h3>Computer Science</h3>
    <ul>
        <li>Computer Science Major</li>
        <li>Computer Science Minor</li>
        <li>Infomation Technology Major</li>
    </ul>
{% endblock %}

